{% extends "UbbIssBundle:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ubbiss/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" xmlns:5>
    <link href="{{ asset('bundles/ubbiss/css/custom.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/ubbiss/css/full.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
{#table with added subjects -addedSubj #}

    {#<style>#}
        {#.inlineTable {#}
            {#display: inline-block;#}
        {#}#}
    {#</style>#}

    <title>{% block title %}Study contracts{% endblock %}</title>
    <br>
    </br>
    <div class="upText">Study Contracts</div>
    <div class="tableText">EDIT YOUR STUDY CONTRACT:</div>
    <br>

    <div class="contractsTable">
    <div class="h4">EDIT FIRST SEMESTER OF THIS YEAR:</div>

    <div >
        {% if addedSubj1|length>0 %}
            Already added subjects:
            <table style="width:40%" > {#class="inlineTable"#}
                <tr>
                    <thead class="backgr">
                    <th><div class="tableText">Name</div></th>
                    <th><div class="tableText">Credits</div></th>
                    <th><div class="tableText">Editing</div></th>
                    <th><div class="tableText">Optional group</div></th>
                    </thead>
                </tr>

                {#'addedSubj1' => $addedSubjects1,#}
                {#'availableSubj1' => $result1,#}
                {#'contractId1' => $contract1,#}

                <tr>
                    <tbody class="insideText">
                    {% for i in 0 .. addedSubj1|length - 1 %}
                        <tr>
                            <td><div class="tableValue"></div>{{ addedSubj1[i].getName() }}</td>
                            <td><div class="tableValue"></div>{{ addedSubj1[i].getCredits() }}</td>
                            <td>
                                <div class="tableValue"></div>
                                <form id ="editContracts" name="editContracts" action="{{ path('remove_contract_subjects') }}" method="post">
                                    {#passing a hidden parameter containing the to-be-added subject's ID#}

                                    {#{{ dump(addedSubj1[i].getId()) }}#}
                                    <input name="contractId" type="hidden" value={{ contractId1 }} >

                                    <input name="addedSubjectId" type="hidden" value={{ addedSubj1[i].getId() }} >
                                    {#passing a hidden parameter containing the current edited contract#}
                                    <input name="contractYear" type="hidden" value={{ contractYear }} />
                                    <button type="submit" >Remove subject</button>
                                </form>
                            </td>
                            {% if(addedSubj1[i].getOptional() == "yes")  %}
                                <td><div class="tableValue"></div>{{ addedSubj1[i].getOptionalGroup() }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </tr>
            </table>
        {% else %}
            <p>NO ADDED SUBJECTS FOR THIS SEMESTER</p>
        {% endif %}
        <br>
        {#table with available subjects -availableSubj #}
        {% if availableSubj1|length>0 %}
            All the subjects list that can be chosen in the contract:
            <table style="width:40%">
                <tr>
                    <thead class="backgr">
                    <th><div class="tableText">Name</div></th>
                    <th><div class="tableText">Credits</div></th>
                    <th><div class="tableText">Editing</div></th>
                    <th><div class="tableText">Optional group</div></th>
                    </thead>
                </tr>
                <tr>
                    <tbody class="insideText">
                    {% for i in 0 .. availableSubj1|length - 1 %}
                        <tr>
                            <td><div class="tableValue"></div>{{ availableSubj1[i].getName() }}</td>
                            <td><div class="tableValue"></div>{{ availableSubj1[i].getCredits() }}</td>
                            <td>
                                <div class="tableValue"></div>
                                <form id ="editContracts" name="editContracts" action="{{ path('add_contract_subjects') }}" method="post">
                                    {#passing a hidden parameter containing the to-be-added subject's ID#}
                                    <input name="availableSubjectId" type="hidden" value={{ availableSubj1[i].getId() }} >
                                    {#passing a hidden parameter containing the current edited contract#}
                                    <input name="contractId" type="hidden" value={{ contractId1 }} />
                                    <input name="contractYear" type="hidden" value={{ contractYear }} />
                                    <button type="submit" >Add subject</button>
                                </form>
                            </td>
                            {% if(availableSubj1[i].getOptional() == "yes")  %}
                                <td><div class="tableValue"></div>{{ availableSubj1[i].getOptionalGroup() }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </tr>
            </table>
        {% else %}
            <p>NO AVAILABLE SUBJECTS TO ADD FOR THIS SEMESTER</p>
        {% endif %}
    </div>



    <br>
    <br>
    <div class="h4">EDIT SECOND SEMESTER OF THIS YEAR:</div>


    <div >
        {% if addedSubj2|length>0 %}
            Chosen subjects:
            <table style="width:40%" > {#class="inlineTable"#}
                <tr>
                    <thead class="backgr">
                    <th><div class="tableText">Name</div></th>
                    <th><div class="tableText">Credits</div></th>
                    <th><div class="tableText">Editing</div></th>
                    <th><div class="tableText">Optional group</div></th>
                    </thead>
                </tr>
                <tr>
                    <tbody class="insideText">
                    {% for i in 0 .. addedSubj2|length - 1 %}
                        <tr>
                            <td><div class="tableValue"></div>{{ addedSubj2[i].getName() }}</td>
                            <td><div class="tableValue"></div>{{ addedSubj2[i].getCredits() }}</td>
                            <td>
                                <div class="tableValue"></div>
                                <form id ="editContracts" name="editContracts" action="{{ path('remove_contract_subjects') }}" method="post">
                                    {#passing a hidden parameter containing the to-be-added subject's ID#}

                                    {#{{ dump(addedSubj[i].getId()) }}#}

                                    <input name="addedSubjectId" type="hidden" value={{ addedSubj2[i].getId() }} >
                                    {#passing a hidden parameter containing the current edited contract#}
                                    <input name="contractId" type="hidden" value={{ contractId2 }} />
                                    <input name="contractYear" type="hidden" value={{ contractYear }} />
                                    <button type="submit" >Remove subject</button>
                                </form>
                            </td>
                            {% if(addedSubj2[i].getOptional() == "yes")  %}
                                <td><div class="tableValue"></div>{{ addedSubj2[i].getOptionalGroup() }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </tr>
            </table>
        {% else %}
            <p>NO ADDED SUBJECTS FOR THIS SEMESTER</p>
        {% endif %}
        {#table with available subjects -availableSubj #}
        {% if availableSubj2|length>0 %}
            All the subjects list that can be chosen in the contract:
            <table style="width:40%">
                <tr>
                    <thead class="backgr">
                    <th><div class="tableText">Name</div></th>
                    <th><div class="tableText">Credits</div></th>
                    <th><div class="tableText">Editing</div></th>
                    <th><div class="tableText">Optional group</div></th>
                    </thead>
                </tr>
                <tr>
                    <tbody class="insideText">
                    {% for i in 0 .. availableSubj2|length - 1 %}
                        <tr>
                            <td><div class="tableValue"></div>{{ availableSubj2[i].getName() }}</td>
                            <td><div class="tableValue"></div>{{ availableSubj2[i].getCredits() }}</td>
                            <td>
                                <div class="tableValue"></div>
                                <form id ="editContracts" name="editContracts" action="{{ path('add_contract_subjects') }}" method="post">
                                    {#passing a hidden parameter containing the to-be-added subject's ID#}
                                    <input name="availableSubjectId" type="hidden" value={{ availableSubj2[i].getId() }} >
                                    {#passing a hidden parameter containing the current edited contract#}
                                    <input name="contractId" type="hidden" value={{ contractId2 }} />
                                    <input name="contractYear" type="hidden" value={{ contractYear }} />
                                    <button type="submit" >Add subject</button>
                                </form>
                            </td>
                            {% if(availableSubj2[i].getOptional() == "yes")  %}
                                <td><div class="tableValue"></div>{{ availableSubj2[i].getOptionalGroup() }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </tr>
            </table>
        {% else %}
            <p>NO AVAILABLE SUBJECTS TO ADD FOR THIS SEMESTER</p>
        {% endif %}
    </div>

    </div>

    <div class="contractsText">
        Contracts must be completed for a whole year.
        You must have a minumum number of credits.
        For finding the minumum number of credits,
        please ask the secretary of your faculty.
        If you have to choose optionals, the rule is
        ONLY ONE OPTIONAL FROM EACH OPTIONAL GROUP.
    </div>


{% endblock %}
