{% extends "UbbIssBundle:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ubbiss/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/ubbiss/css/custom.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/ubbiss/css/full.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
    <title>{% block title %}Study contracts{% endblock %}</title>
    <br>
    </br>
    <div class="upText">Study Contracts</div>
    <div class="tableText">SELECT SEMESTER:</div>
    <br>
    <div>
        <table class="table table-bordered">
            {% for contr in contracts %}
                {#{{ dump(contr.getId()) }}#}
                <tr>
                    <td><a href = "{{ path("ubb_iss_edit_contract", {'contractId':contr.getId() }  ) }}">Semester: {{ contr.getSemester() }}</a></td>
                </tr>
            {% endfor %}

            {% for r in rest %}
                <tr>
                    <td>
                        <a href="{{ path("add_contract", {'semester':r}) }}">Add semester {{ r }} contract</a>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}
