{% extends "UbbIssBundle:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ubbiss/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/ubbiss/css/custom.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/ubbiss/css/full.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
    <title>{% block title %}Study contracts{% endblock %}</title>
    <br>
    </br>
    <div class="upText">Study Contracts</div>
    <div class="tableText">SELECT YEAR:</div>
    <br>
    <div>
        <div class="smallerTable">
        <table class="table table-bordered">


            {% for year in range(1, 3) %}
                {#{{ dump(contr.getId()) }}#}
                <tr class="insideText">
                    <td><a href = "{{ path("ubb_iss_edit_contracts", {'contractYear': year }  ) }}">Year: {{ year }}</a></td>
                </tr>
            {% endfor %}

            {#{% for r in rest %}#}
                {#<tr>#}
                    {#<td>#}
                        {#<a href="{{ path("add_contract", {'semester':r}) }}">Add semester {{ r }} contract</a>#}
                    {#</td>#}
                {#</tr>#}
            {#{% endfor %}#}

        </table>
            <div>
    </div>



{% endblock %}
