{% extends "UbbIssBundle:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ubbiss/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" xmlns:5>
    <link href="{{ asset('bundles/ubbiss/css/custom.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/ubbiss/css/full.css') }}" type="text/css" rel="stylesheet">
{% endblock %}


{% block content %}
    <div>
        <br>
        </br>
        <div class="titles">Add Grades</div>
        <div class="tableText">SET GRADES:</div>
        <br>
        <br>
        {#{{ dump() }}#}
        {#{{ subject.getName() }}#}
        {#<div class="table table-bordered">#}
            {% if students|length >0 %}
                <table class="table table-bordered">
                    <tr>
                        <thead class="insideText">
                            <th><div class="tableText">Name</div></th>
                            <th><div class="tableText">Grade</div></th>
                            <th><div class="tableText">Retake Grade</div></th>
                            <th><div class="tableText">Editing: New grade values between 1 and 10</div></th>
                        </thead>
                    </tr>

                    <tr>
                        <tbody class="insideText">
                            {% for i in 0 .. students|length - 1 %}
                                {% if(eval[i] != null) %}
                                    </tr>
                                    <tr>
                                        <td><div class="tableValue"></div>{{ students[i].getName() }}</td>
                                        <td><div class="tableValue"></div>{{ eval[i].getSessionGrade() }}</td>
                                        <td><div class="tableValue"></div>{{ eval[i].getRetakeSessionGrade() }}</td>
                                        <td>
                                            <div class="tableValue"></div>
                                            <form id ="editGrades" name="editGrades" action="{{ path('ubb_iss_edit_student_grades') }}" method="post">
                                                <input name="date" type="hidden" value={{ date }} >
                                                <input name="subjectId" type="hidden" value={{ subject.getId() }} >
                                                <input name="studentId" type="hidden" value = {{ students[i].getId() }} />
                                                <input name="lineId" type="hidden" value={{ line.getId() }} >
                                                <input name="SpecName" type="hidden" value={{ SpecName.getName() }} >
                                                <input name="Group" type="hidden" value={{ Group }} >
                                                <input name="sessionGrade" type="number" id="sessionGrade" min="1" max="10" />
                                                <input name="retakeGrade" type="number" id="retakeGrade" min="1" max="10"/>
                                                <button type="submit" >Edit grades</button>
                                            </form></td>
                                    </tr>

                                {% else %}
                                    <tr>
                                        <td>{{ students[i].getName() }}</td>
                                        <td>ABSENT</td><td>ABSENT</td>
                                        <td>
                                        <div class="tableValue"></div>
                                        <form id ="editGrades" name="editGrades" action="{{ path('ubb_iss_edit_student_grades') }}" method="post">
                                            <input name="date" type="hidden" value={{ date }} >
                                            <input name="subjectId" type="hidden" value={{ subject.getId() }} >
                                            <input name="studentId" type="hidden" value = {{ students[i].getId() }} />
                                            <input name="lineId" type="hidden" value={{ line.getId() }} >
                                            <input name="SpecName" type="hidden" value={{ SpecName.getName() }} >
                                            <input name="Group" type="hidden" value={{ Group }} >
                                            <input name="sessionGrade" type="number" id="sessionGrade" min="1" max="10" />
                                            <input name="retakeGrade" type="number" id="retakeGrade" min="1" max="10"/>
                                            <button type="submit" >Edit grades</button>
                                        </form></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </tr>
                </table>
            {% else %}
                <p>NOTHING TO SHOW</p>
            {% endif %}
        {#</div>#}
    </div>

{% endblock %}
