{% extends "UbbIssBundle:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ubbiss/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/ubbiss/css/custom.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/ubbiss/css/full.css') }}" type="text/css" rel="stylesheet">
{% endblock %}


{% block content %}

{{ dump() }}
    <div>
        {{ subject.getName() }}
        {% if students|length >0 %}
            <table>
                {% for i in 0 .. students|length - 1 %}
                    {% if(eval[i] != null) %}
                        <tr><td>{{ students[i].getName() }}</td><td>{{ eval[i].getSessionGrade() }}</td><td>{{ eval[i].getRetakeSessionGrade() }}</td></tr>
                    {% else %}
                        <tr><td>{{ students[i].getName() }}</td><td>NOT SET</td><td>NOT SET</td></tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% else %}
            <p>NOTHING TO SHOW</p>
        {% endif %}
    </div>

{% endblock %}
