{% extends "UbbIssBundle:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ubbiss/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/ubbiss/css/custom.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/ubbiss/css/full.css') }}" type="text/css" rel="stylesheet">
{% endblock %}


{% block content %}
    <div>
        <br>
        </br>
        <div class="upText">Add Grades</div>
        <div class="tableText">SELECT GROUP:</div>
        <br>
        <table class="table table-bordered">
            {% if groups|length == 0 %}
                <p>NOTHING TO SHOW</p>
            {% else %}
                {% for g in groups %}
                    <tr><td> <a href = "{{ path("ubb_iss_add_student_grades", {'line':line.getId(), 'SubName':sub, 'SpecName':spec ,'Group':g.getName()} ) }}">{{ g.getName() }} </a></td></tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>

{% endblock %}
