{% extends "UbbIssBundle:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ubbiss/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/ubbiss/css/custom.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/ubbiss/css/full.css') }}" type="text/css" rel="stylesheet">
{% endblock %}


{% block content %}

    <div>
        <div class="otherText" style="font-style:italic">Choose a studyline:</div>
        <br>
        <br>
        <div class="smallerTable">
    <table class="table table-bordered">
    {% for line in lines %}
        <tr class="insideText">
            <td>
                <a href = "{{ path("top_students", {'line':line.getId(), 'specialization':specialization} ) }}"> {{  line.getLanguage() }} </a>
            </td>
                </tr>
            {% endfor %}
        </table>
            </div>
    </div>

{% endblock %}
