{% extends "UbbIssBundle:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ubbiss/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/ubbiss/css/custom.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/ubbiss/css/full.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="titles">TOP 5 students</div>
    <br>
    <br>
    <br>
    <br>
    <div class="smallerTable">
    <table class="table table-bordered">
        <thead class="backgr">
        <tr>
            <th><div class="tableText">Name</div></th>
            <th><div class="tableText">Avg</div></th>
        </tr>
        </thead>

        <tbody class="insideText">
        {% for i in 0 .. students|length - 1 %}
            <tr>
                <td>{{ students[i].getName() }}</td>
                <td>{{ avg[i] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}