{% extends "UbbIssBundle:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ubbiss/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/ubbiss/css/custom.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/ubbiss/css/full.css') }}" type="text/css" rel="stylesheet">
{% endblock %}


{% block content %}

    <div>
        <table>
            Assistents:
            {% for t in teachers %}
                <tr>
                    <td>{{ t.name }}</td>

                    <td>
                        <form action="{{ path('add_activity') }}" method="post">
                            <input name="assistantId" type="hidden" value={{ t.id }} >
                            <select name="activity">
                                {% for a in activities %}
                                    <option  value="{{ a }}">{{ a }}</option>
                                {% endfor %}
                            </select>
                            {#{{ dump(option.name) }}#}
                            <select name="subjectId">
                                {% for s in subjects %}
                                    <option value="{{ s.getId() }}">{{ s.getName() }}</option>
                                {% endfor %}
                            </select>

                            <input name="weekHours" type="number" id="sessionGrade" min="1" max="40" null="false" default="1" />

                            <button type="submit" >Add activity</button>
                        </form>
                    </td>

                </tr>
            {% endfor %}

        </table>

        <table class="table table-bordered" style="width: auto">
            {% for t in teachers %}
                <tr>
                    <td>{{ t.name }}"</td>
                    {% for act in t.activities %}
                        <td>{{ act.subject.name }}:{{ act.type }} - {{ act.hoursPerWeek }}h per week</td>
                        <td>
                            <form action="{{ path('remove_activity') }}" method="post">
                                {#passing a hidden parameter containing the evaluated subject's ID#}
                                {#<input name="subjectId" type="hidden" value={{ act.subject.getId() }} >#}

                                {#passing a hidden parameter containing the evaluated student's ID#}
                                <input name="assistantId" type="hidden" value = {{ t.getId() }} />
                                <input name="activityId" type="hidden" value = {{ act.getId() }} />


                                {#passing new grade's values#}
                                <button type="submit" >Remove activity</button>
                            </form>
                        </td>
                    {% endfor %}
                </tr>


            {% endfor %}
        </table>

    </div>

{% endblock %}
{#<form id ="editGrades" name="editGrades" action="{{ path('ubb_iss_edit_student_grades') }}" method="post">#}
    {#passing a hidden parameter containing the evaluated subject's ID#}
    {#<input name="subjectId" type="hidden" value={{ subject.getId() }} >#}
