{% extends "UbbIssBundle:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ubbiss/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/ubbiss/css/custom.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/ubbiss/css/full.css') }}" type="text/css" rel="stylesheet">
{% endblock %}


{% block content %}
<div>
    <form id ="changePass" name="changePass" action="{{ path('ubb_iss_edit_pass') }}" method="post">

        <input name="oldPassword" type="password" /> </br>
        <input name="newPassword" type="password" /> </br>
        <input name="retypedNewPassword" type="password" /> </br>
        <button type="submit" >Change password</button> </br>
    </form>

    {% if app.request.get('message') == "1" %}
        <p>Password was succesfully changed !</p>
    {% elseif app.request.get('message') == "2" %}
        <p> New passwords don't match </p>
    {% elseif app.request.get('message') == "3" %}
        <p> Incorrect password </p>
    {% endif %}
</div>

{% endblock %}
